th, td {
    font-size: .8em;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 30px;
}

.forp {
    border: none;
    border-bottom: 1px dashed #666;
    background-color: #e9ecef;
    font-size: .7em;
}

.fset {
    border: 1px solid #666 !important;
}

@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 50; }
}

.fa-blink {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink .1s linear infinite;
}

.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}

.circle:hover
{
        border-radius:50%;
}

.imagem1{
    transition: all 1s;
    cursor: pointer;
}

.imagem1:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.imagem3{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem3:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #272C33
}

.tab-pane {
    font-size: .9em;
    font-weight: normal;
}

.nav-item {
    font-size: .8em;
}

.dropdown-menu-content {
    font-size: .8em;
}

.dropdown-menu-content a {
    color: #003975;
}

.aumentaimg {
    transition: all 0.5s;
    cursor: pointer;
}

.aumentaimg:hover {
    -webkit-transform: scale(4.5);
    transform: scale(2.5);
    margin-top: -80px;
    margin-left: 75px;
    /* margin-left: 25px; */
}

.page-item.active .page-link {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

   .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-flat-color-success {
	background: #D4EDDA; }
  
  .bg-flat-color-danger {
	background: #F8D7DA; }
  
  .bg-flat-color-warning {
	background: #FFF3CD; }
  
  .bg-flat-color-info {
	background: #CCE5FF; }
  
  .bg-flat-color-dark {
	background: #D6D8D9; }
  
  .bg-flat-color-light {
	background: #FEFEFE; }
  
  .bg-flat-color-1 {
	background: #20a8d8; }
  
  .bg-flat-color-2 {
	background: #63c2de; }
  
  .bg-flat-color-3 {
	background: #ffc107; }
  
  .bg-flat-color-4 {
	background: #f86c6b; }
  
  .bg-flat-color-5 {
	background: #4dbd74; }
  
  .bg-flat-color-6 {
	background: #848484; }
  
  .bg-flat-color-7 {
	background: #585858; }
  
  .bg-flat-color-8 {
	background: #2E2E2E; }
  
  .bg-flat-color-9 {
	background: #DBA901; }

	.corner-ribon {
		text-align: center;
		width: 71px;
		height: 71px;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 20px;
	}

	.corner-ribon i {
		padding: 10px 0 0 35px;
		color: #fff; }

	.black-ribon {
		background: url(../../public/images/twitter_corner_black.png) no-repeat;
	}
